__pycache__/
.venv/

.cache/
assets/data
code-data/tableau_data/fact_orders_enriched.csv

# files created when compiling tex files
docs/**/output/*.pdf
docs/**/*.aux
docs/**/*.fdb_latexmk
docs/**/*.fls
docs/**/*.log
docs/**/*.out
docs/**/*.toc

# agents
CHANGELOG.md
.agent/
.claude/
